/* style each html snippet from component js files */


body {
  background-image: url('../assets/images/lofiroom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

/* For devices smaller than 400px: */
#hero {
  background-image: url('../assets/images/im-ashley-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll ;
  background-position: 50%;
  width: 350px;
  height: 100px;
  padding: 10px;
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
#hero {
  background-image: url('../assets/images/im_ashley.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll ;
  background-position: 50%;
  height: 17rem;
  width: 100%;
  padding: 10px;
  } 
}

.navbar {
  background-color: #f6588794;
  height: 60px;
  text-align: center;
  padding-top: 10px;
}

.navbar a {
  display: flex row;
  justify-content: space-between;
  color: white;
  font-family: 'Source Code Pro' ;
  font-size: 1rem;
  text-decoration: none;
  margin: 1px;
  line-height: 3;
}

/* styling for contatct form */
.contactGreeting {
  /* width: 75%; */
  color: white;
  font-size: x-large;
  font-family: 'Antic slab';
  text-align: center;
}

input {
  background-color: white;
  margin: 10px;
}

textarea {
  background-color: white;
  margin: 10px;
}

.formLabel {
  font-family: "source code pro";
  font-weight: bolder;
  margin: 5px;
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
.contactForm {
  color: white;
  display: flex;
  flex-direction: column;
 }
}  

input:focus {
  /* box-shadow: 0 0 0 0.25rem rgba(2, 33, 58, 0.25) */
  border: 5px solid rgb(237, 191, 237);
  background-color: lightsteelblue;
}

textarea:focus {
  border: 5px solid rgb(237, 191, 237);
  background-color: lightsteelblue;
}

.submitBtn {
  margin: 10px;
  background-color: rgb(241, 165, 113);
  color: white;
  font-family: "source code pro";
  width: 75px;
  align-self: center;
}


.submitBtn:hover {
  transform: scale(1.1);
}

.errorText {
  color: white;
  font-size: larger;
}

/* styling for about page */

.aboutHeader {
  color: white;
  font-size: xx-large;
  font-family: 'Antic Slab';
  font-weight: bolder;
  text-align: center;
  padding: 20px;
}

.p1 {
  width: 25rem;
  color: white;
  font-size: large;
  font-family: 'Nanum Gothic Coding';
  text-align: center;
}

.img1 {
  align-self: center;
  
}
/* Styling for Blog Page */

.comingSoon {
  color: white;
  font-size: 50px;
  font-family: 'Aleo';
  text-align: center;
}

/* styling for projects page */
/* .header {
  color: white;
  font-size: xx-large;
  font-family: 'Aleo';
  text-align: center;
} */

.projectCard {
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: larger;
  border: 4px solid white;
}

.projectTitle {
  font-size: xx-large;
  font-family: 'Antic slab';
}

.description {
  color: white;
  font-size: medium;
  font-family: 'Source Code Pro';
}

.project a {
  color: lavender;
  font-size: larger;
  font-family: 'Aleo';
  
}

#projImg {
  height: 250px;
  width: 250px;
}

.projCol {
  width: auto;
}

.projButton {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bolder;
  background-color: rgb(240, 164, 106);
  font-family: "source code pro";
}

Button:hover {
  border: 2px solid white;
}

/* styling for attributions */

.attributions {
  font-size: 6px;
}