/* style each html snippet from component js files */


body {
  background-image: url('../assets/images/lofiroom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

/* For devices smaller than 400px: */
#hero {
  background-image: url('../assets/images/im-ashley-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll ;
  background-position: 50%;
  width: 350px;
  height: 100px;
  padding: 10px;
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
#hero {
  background-image: url('../assets/images/im_ashley.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll ;
  background-position: 50%;
  height: 17rem;
  width: 100%;
  padding: 10px;
  } 
}
 
/*styling for navbar*/
#navbar {
  background-color: #f6588794;
  height: 60px;
  display: flex row;
  margin: auto;
  justify-content: center;
  padding-top: 10px;
}

#navbar a {
  display: flex row;
  justify-content: space-between;
  color: white;
  font-family: 'Source Code Pro' ;
  font-size: 1rem;
  text-decoration: none;
  line-height: 3;
}

#navTog {
  color: white;
  display: flex;
  justify-content: flex-end;
}


/* styling for about page */

.aboutHeader {
  color: white;
  font-size: xx-large;
  font-family: 'Antic Slab';
  font-weight: bolder;
  text-align: center;
  padding: 20px;
}

.p1 {
  width: 25rem;
  color: white;
  font-size: large;
  font-family: 'Nanum Gothic Coding';
  text-align: center;
}

.img1 {
  align-self: center;
  
}

/* styling for projects page */
/* .header {
  color: white;
  font-size: xx-large;
  font-family: 'Aleo';
  text-align: center;
} */

.projectCard {
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: larger;
  border: 4px solid white;
  text-align: center;
  border-radius: 3px;
  background-color: aqua;
  
}

.projectTitle {
  color: white;
  font-size: xx-large;
  font-family: 'source code pro';
  text-align: center;
}

.description {
  color: white;
  font-size: medium;
  font-family: 'Source Code Pro';
  text-align: center;
}

.project a {
  color: lavender;
  font-size: larger;
  font-family: 'Aleo';
  
}

#projImg {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  align-self: center;
  margin: 10px;
}

.projCol {
  width: auto;
}

#projButton {
  display: flex;
  justify-content: center;
  color: white;
  padding: 3px;
  font-weight: bolder;
  background-color: rgb(240, 164, 106);
  font-family: "source code pro";
  width: 150px;
  border-radius: 3px;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
}

#projButton:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

/* styling for contatct form */
.contactGreeting {
  color: white;
  font-size: x-large;
  font-family: 'Antic slab';
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding-bottom: 20px;
}

input {
  background-color: white;
  margin: 10px;
  border-radius: 3px;
}

textarea {
  background-color: white;
  margin: 10px;
  height: 80px;
  border-radius: 3px;
  box-shadow: inset 2px 2px black;
}

.formLabel {
  font-family: "source code pro";
  font-weight: bolder;
  margin: 5px;
}

/* For devices 400px and smaller: */
.contactForm {
  color: white;
  display: flex;
  flex-direction: column;
 }

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
.contactForm {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
 }
}  

input:focus {
  border: 3px solid rgb(237, 191, 237);
  background-color: lightsteelblue;
}

textarea:focus {
  border: 3px solid rgb(237, 191, 237);
  background-color: lightsteelblue;
}

.submitBtn {
  margin: 10px;
  background-color: rgb(241, 165, 113);
  color: white;
  font-family: "source code pro";
  width: 80px;
  align-self: center;
}

.submitBtn:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

.errorText {
  color: white;
  font-size: larger;
}

/* Styling for Blog Page */

.comingSoon {
  color: white;
  font-size: 2rem;
  font-family: 'Aleo';
  text-align: center;
}

/*styling for footer


/* styling for attributions */

.attributions {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}