/* @media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
} */

.navBar {
  background-color: #f6588746;
  height: 90px;
  text-align: center;
  padding-top: 10px;
}

.navList a {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Source Code Pro' ;
  font-size: 1rem;
  text-decoration: none;
  margin: 1px;
  line-height: 3;
}