/* style each html snippet from component js files */

@media (max-width: 576px) {
  /* header, navbar links, hero image or title image */
}

body {
  background-image: url('./assets/images/lofiroom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

#hero {
  background-image: url('./assets/images/im_ashley.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed ;
  height: 17rem;
  width: 100%;
  padding-bottom: 10px;
}

.navbar {
  background-color: #f6588794;
  height: 60px;
  text-align: left;
  padding-top: 10px;
}

.navbar a {
  display: flex row;
  justify-content: space-between;
  color: white;
  font-family: 'Source Code Pro' ;
  font-size: 1rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.contactGreeting {
  color: white;
  font-size: x-large;
  font-family: 'Antic slab';
  text-align: center;
}

.submitContact {
  background-color: blueviolet;
}

.contactForm {
  color: white;
  align-items: center;

}

#input:focus {
  box-shadow: 0 0 0 0.25rem rgba(2, 33, 58, 0.25)
}

.errorText {
  color: white;
  font-size: larger;
}

.aboutHeader {
  color: white;
  font-size: xx-large;
  font-family: 'Antic Slab';
  text-align: center;
}

.p1 {
  color: white;
  font-size: large;
  font-family: 'Nanum Gothic Coding';
  text-align: center;
}

.img1 {
  align-self: center;
}

.attributions {
  font-size: 6px;
}